<%- include("../partials/header") %>

<div class = "container">
	<h1 style = "text-align: center;">Add new Comment to <%=campSites.name%></h1>
	<div style = "width: 30%; margin: 25px auto;">
		<form action="/campSites/<%=campSites._id%>/comments" method="POST">
			<!-- <div class="form-group">
    			<label for="Campsite">Name</label>
				<input class="form-control" type="text" name="comment[author]" placeholder="Name">
			</div> -->
			<div class="form-group">
    			<label for="image url">Comment</label>
				<input class="form-control" type="text" name="comment[text]" placeholder="Comment">
			</div>
			 <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
		</form>
		<div style = "margin-top:3px;">
			<a href = "/campSites/<%=campSites._id%>"><button class="btn btn-default btn-lg btn-block">Cancel</button></a>
		</div>
		
	</div>

</div>


<%- include("../partials/footer") %>